*.log
.scon*
__pycache__
doc/_build
doc/py-api
version.py

# Pytest
.coverage
.hypothesis
.pytest_cache
pytest_session.txt
tests/.tests

# Editors
.idea
.vscode
.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini

# ignote pypi files.
*.egg-info/